*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
/* utils */
.vh-100{
    height: 100vh;
}
.c-yellow{
    color: yellow;
}
.c-green{
    color: darkgreen;
}
/* general */
.navigation{
  display: inline-block;
}
.nav-menu{
   display: flex;
   position: fixed;
    right: 0%;
    top: 0%;
}
li{
    padding: 5px;
}
a{
    font-size: 15px;
    display: inline-block;
    color: #000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
}

li > a:hover{
    cursor: pointer;
}
body{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 25px;
    overflow: hidden;
    background-color: transparent;
  
}

ul{
    list-style-type: none
}
a{
    text-decoration: none;
}
/* body */

.vans-page{
    position: relative;
    background-color: darkred;
}

.balenciaga-page{
    position:relative;
    background-color: darkgreen;
}
.converse-page{
    position:relative;
    background-color: goldenrod;
}

img{
    display: block;
    height: 100%;
}

h2{
    text-align: center;
}
.vans , .balenciaga , .converse{
    min-width: 30%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
